<footer id="footer">
  <div class="container">
    <div class="row">

      <div id="help" class="text-center">
        Got questions? Contact customer support at <a href="">info&#064;hotels.com</a>
      </div>

      <div id="footer-holder">

        <img class="img-thumbnail" src="https://i0.wp.com/media4.s-nbcnews.com/j/newscms/2016_04/1396246/donald-trump-mug_5fea106e0eb494469a75e60d8f2b18ea.nbcnews-fp-320-320.jpeg" alt="profile">

        <blockquote>
          <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat fugit facilis, aspernatur beatae ad in!</q>
          <cite>Donald Trump</cite>
        </blockquote>

        <ul id="social-networks">
          <li>
            <a href="https://www.facebook.com"
                  target="_blank"
                  data-original-title="facebook"
                  class="facebook">
                  <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li><a href="https://instagram.com"
                  target="_blank" data-original-title="instagram" class="instagram"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com"
                 target="_blank" data-original-title="youtube" class="youtube"><i class="fa fa-youtube"></i></a></li>
        </ul>

        <ul id="links" class="list-unstyled">
          <li><a href="/AboutUs" target="_blank">About us</a></li>
          <li><a href="/Contact" target="_blank">Contact</a></li>
          <li><a href="/Impressum" target="_blank">FAQ</a></li>
          <li><a href="/Terms" target="_blank">Terms and Conditions</a></li>
          <li><a href="/Privacy" target="_blank">Privacy policy</a></li>
        </ul>

      </div>
      <div class="copyright">
        <span>Copyright &copy; 2016 <a href="/">hotels.com</a></span>
      </div>
    </div>    
  </div>
</footer>
