<div id="selectedParams" style="visibility: visible; opacity: 1">
  <div class="container">
    <div class="inner-wrap">
      <div id="checkIn">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <span class="date">27 Nov 2016</span>
      </div>
      <div id="checkOut">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span class="date">28 Nov 2016</span>
      </div>
      <div id="selectedCurrency">
        USD
      </div>
      <div id="selectedRoom">
        1 Room
      </div>
      <div id="selectedType">
        Romantic
      </div>
      <div class="actions">
        <button id="changeParams">Change</button>
      </div>
    </div>
  </div>
</div>